[submodule "public/kingsraid-data"]
	path = public/kingsraid-data
	url = https://github.com/faberuser/kingsraid-data
# [submodule "public/kingsraid-audio"]
# 	path = public/kingsraid-audio
# 	url = https://gitea.k-clowd.top/faberuser/kingsraid-audio
